.App {
  text-align: center;
}

.new-event {
  display: flex;
  margin-right: 10px;
  width: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

.event-details-popup {
  border: 2px solid black;
  padding: 10px;
}
